@font-face {
    font-family: kongtext;
    src: url('../fonts/kongtext.ttf');
}

* {
    font-family: kongtext;
}

body {
    background-image: url("../images/sky.jpg");
}

.nes-container {
    width: 1000px;
    height: 500px;
    margin: 5em auto 0;
    background-color: rgb(255, 255, 255);
}

.nes-field {
    margin-top: 15px;
    color: white;
    width: 500px;
    margin: 10px 500px auto;
}
.intro {
    font-size: 5px;
}

ul {
    list-style-type: none;
}

.card {
    text-align: justify;
}

#box-one {
    margin-top: 10px;
    height: 350px;
    width: 300px;
    float: left;
    text-align: justify;
    letter-spacing: 2px;
}

#box-two {
    height: 350px;
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    letter-spacing: 2px;
    align-content: inherit;
}

#box-three {
    height: 350px;
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    letter-spacing: 2px;
}