* {
    font-family: kongtext;
}

body {
    background-image: url("../images/sky.jpg");
}

.nes-container {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.intro {
    font-size: 5px;
}

ul {
    list-style-type: none;
}

.card {
    text-align: justify;
}

#box-one {
    margin-top: 10px;
    height: 350px;
    width: 300px;
    float: left;
    text-align: justify;
    letter-spacing: 2px;
}

#box-two {
    height: 350px;
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: justify;
    letter-spacing: 2px;
}

#box-three {
    height: 350px;
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left justify;
    letter-spacing: 2px;
}